body {
	width: 1200px;
	margin: 0 auto;
}
.contentBox {
  padding: 0!important;
}
.aboutTopImg img {
  width: 100%;
  height: 225px;
}
.aboutTopTab .layui-tab {
  margin: 0;
}
.aboutTopTab .tabTitle {
  background-color: #931634;
  margin-bottom: 40px;
}
.aboutTopTab .tabTitle ul {
  /* width: 600px; */
  margin: 0 auto;
  border: none;
  height: 60px;
}
.aboutTopTab .layui-tab-brief>.layui-tab-title li {
  /*width: 33%;*/
  width: 18.8%;
  margin: 5px 6%;
  color: #fff;
  height: 60px;
  padding-top: 6px;
  line-height: 20px;
  font-size: 18px;
}
.aboutTopTab .layui-tab-brief>.layui-tab-title .layui-this {
  background: url(../images/aboutUsBot.png) no-repeat;
  background-position: 0px 48px;
  background-size: 100% 7px;
  transition: all 0s;
}
.aboutTopTab .layui-tab-brief>.layui-tab-title .layui-this:after {
  border: none;
  border-radius: 0;
}
.contactUs{
  overflow: hidden;
}
.contentThree{
  padding-top: 15px;
  padding-bottom: 50px;
}
.contentThree .contentThreeTop {
  margin-top: 30px;
  margin-bottom: 50px;
}
.contentThree .contentThreeTop p {
  text-align: center;
  font-size: 21px;
  margin-top: 15px;
}
.contentThree .contentThreeTop p:last-child {
  color: #7E1E39;
  font-weight: bold;
}
.contentThreeContent {
  height: 250px;
}
.contentThree .contentThreeContent li {
  background-color: #F55F82;
  height: 345px;
}

.contentThree .contentThreeContent li:nth-child(2n) {
  background-color: #F988A4;
}
.contentThree .contentThreeContent li p:first-child {
  width: 40px;
  height: 40px;
  margin: 80px auto 0;
}
.contentThree .contentThreeContent li:hover {
  box-shadow: 0 0 10px 1px #DC290A;
  height: 355px;
  background-color: #D8395F;
  bottom: 5px;
  z-index: 1;
}
.contentThree .contentThreeContent li p:nth-child(2) {
  font-weight: bold;
}
.contentThree .contentThreeContent li p:last-child {
  margin-top: 10px;
}
.contentThree .contentThreeContent li p {
  text-align: center;
  margin-top: 10px;
  word-break: break-word;
  padding: 0 15px;  
  color: #fff; 
  font-size: 16px;
}
.contentThree .contentThreeContent li .enName{
  margin: 0;
  font-size: 12px;
}
.contentThreeBottom {
  margin-top: 50px;
  text-align: center;
}
.contentThreeBottom p:first-child {
  font-size: 16px;
  color: #353535;
}
.contentThreeBottom p {
  font-size: 14px;
  margin-top: 25px;
  color: #686868;
}
.contentThreeBottom p:last-child {
  margin-top: 15px;
}
/* 公司介绍 */
.aboutTopTab .companyTop{
    position: absolute;
    top: -2px;
    left: 0px;
    width: 1200px;
    height: 229px;
}
.companyIntroBox{
  margin-bottom: 20px;
}
.companyIntro{
    margin: 40px 0 30px;
    font-size: 68px;
    font-weight: 700;
    color: #931835;
}
.who{
    margin-bottom: 40px;
    font-size: 32px;
    font-weight: 600;
}
.whoDes{
    font-size: 14px;
    text-indent: 2em;
    line-height: 30px;
}
.whoDes .whatAreWe{
    text-indent: 0;
    letter-spacing: -2px;
    font: italic 600 35px/38px cursive;
    margin-bottom: 30px;
}
/* 时间轴 */
.timezone{
    position: absolute;
    left: 559px;
    margin: 0 auto;
    margin-top:160px;
    width: 4px;
    height: 1535px;
    background: #951136;
    -webkit-animation: heightSlide 1s linear;
}
@-webkit-keyframes heightSlide{
    0%{
        height: 0;
    }
    100%{
        height: 700px;
    }
}
/* 圆圈 */
.time{
    position: absolute;
    margin-left: 439px;
    margin-top: -120px;
    width:20px;
    height:20px;
    border-radius: 50%;
    border:4px solid #951136;
    background: #951136;
    -webkit-transition: all 2s;
    -webkit-animation: showIn ease;
}
.timeRight{
    margin-left: -192px;
}
.time:nth-child(1){
    -webkit-animation-duration:1s;
}
.time:nth-child(2){
    -webkit-animation-duration:4.5s;
}
.time:nth-child(3){
    -webkit-animation-duration:2s;
}
@-webkit-keyframes showIn{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.7;
    }
    70%{
        opacity: 0.8;
    }
    100%{
        opacity: 1;
    }
}
.time_right{
    width: 546px;
    margin-left: 10%;
    padding: 20px 20px 15px 25px;
    background-color: #951136;
    -webkit-transition: all 2s;
    -webkit-animation: showIn 2s ease;
}
.companyFeature{
    /*width: 220px;
    height: 180px;*/
    /*margin: 15px 0;*/
    margin-bottom: 15px;
}
.companyFeature h2{
    color: #fff;
    font: 600 30px/50px sans-serif;
    border-bottom: 1px solid #fff;
    margin-bottom: 14px;
    width: 188px;
}
.companyFeature p{
    color: #ffc5c6;
    font-size: 14px;
}
.leftPic{
  margin: 60px 0px 20px -38px;
  width: 265px;
}
.leftText{
  font-size: 20px;
}
/* 组织结构 */
.structureTitle{
  position: relative;
  margin: 30px auto;
  text-align: center;
  font: 600 21px/28px 'sans-serif,arial';
  color: #931634;
}
.structureTitle .displayTitle:before,.structureTitle .displayTitle:after{
  content: '';
  display: inline-block;
  width: 150px;
  height: 3px;
  position: absolute;
  top: 14px;
  background: #931634;
}
.structureTitle .displayTitle:before{
  left: 222px;
}
.structureTitle .displayTitle:after{
  left: 600px;
}
.structurePic img{
  display: inline-block;
  margin: 40px 0;
  width: 100%;
}
.structureIntro{
  font-size: 16px;
  line-height: 32px;
  text-indent: 2em;
}
.structureIntro p {
  margin-top: 10px;
}