body{
    width: 1200px;
    margin: 0 auto;
}
.barBox{
    padding: 0;
    margin: 35px auto 20px;
}
.barBox .nav{
    margin-top: 6px;
    background-color: #fff;
}
.barBox .nav .navItem{
    margin: 0 10px;
}
.barBox .nav .navItem a{
    color: #921733;
    font-size: 18px;
}
.barBox .nav .layui-this:after, .barBox .layui-nav-bar,.barBox .layui-nav-tree .layui-nav-itemed:after{
    background-color: #efcf18;
} 
.barBox .nav .navItem a:hover {
    color: #f60000;
}
.barBox .search{
    margin-top: 15px;
    padding: 0 7px; 
    height: 45px;
    border-radius: 30px;
    background-color: #921733;
    transition: all 2s;
    -moz-transition: all 2s;  /* Firefox 4 */
    -webkit-transition: all 2s;   /* Safari 和 Chrome */
    -o-transition: all 2s;    /* Opera */
}
.barBox .search:hover{
    width:180px;
}
.barBox #searchInput{
    display: none;
    /* float: left; */
    position: absolute;
    margin-left: 5px;
    height: 45px;
    border: 0;
    color: #fdf3f5;
    text-align: center;
    font-size: 16px;
    background-color: transparent;

}
.toggleWidth{
    width: 33px;
}
.show{
    display: inline-block!important;
    width: 80%;
}
.barBox .searchIcon{
    float: right;
    right: 0;
    line-height: 45px;
    font-size: 35px;
    color: #fdf3f5;
}
.footer{
    padding: 30px 0;
    color: #fff;
    background-color: #2f2f2f;
}
.rightInfo p{
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
}
.phoneNum{
    text-indent: 208px;
}
.leftInfo{
    margin-top: 20px;
}
.rightInfo .imgIcon,.leftInfo .imgIcon{
    width: 15px;
    height: auto;
}
#searchInput::-webkit-input-placeholder { color: #fff;}
#searchInput::-moz-placeholder { color: #fff;}
#searchInput::-ms-input-placeholder { color: #fff;}​ 

